<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ali.rent.dao.mapping.HosterMapper" >
  <resultMap id="BaseResultMap" type="com.ali.rent.pojo.Hoster" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="portrait" property="portrait" jdbcType="VARCHAR" />
    <result column="business_area" property="businessArea" jdbcType="VARCHAR" />
    <result column="capacity" property="capacity" jdbcType="VARCHAR" />
    <result column="registration_time" property="registrationTime" jdbcType="TIMESTAMP" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, city_id, username, password, phone, email, sex, id_card, portrait, business_area, 
    capacity, registration_time, flag
    
  </sql>
  <!--李能明-->
  <insert id="addHoster" parameterType="com.ali.rent.pojo.Hoster">
    insert into hoster(username,password,phone,email,sex,id_card,portrait,business_area,capacity)
    values (<trim suffixOverrides=",">
    <if test=" username != null and username !=''">
      #{username},
    </if>
    <if test=" password != null and password !=''">
      #{password},
    </if>
    <if test=" phone != null and phone !=''">
      #{phone},
    </if>
    <if test=" email != null and email !=''">
      #{email},
    </if>
    <if test=" sex != null and sex !=''">
      #{username},
    </if>
    <if test=" id_card != null and id_card !=''">
      #{id_card},
    </if>
    <if test=" portrait != null and portrait !=''">
      #{portrait},
    </if>
    <if test=" business_area != null and business_area !=''">
      #{business_area},
    </if>
    <if test=" capacity != null and capacity !=''">
      #{capacity}
    </if>

  </trim>

    )
  </insert>

  <select id="checkName" resultType="com.ali.rent.pojo.Hoster">

    select count(1) from hoster where username=#{username};

  </select>


  <select id="findUsernameAndPassword" resultType="com.ali.rent.pojo.Hoster">

    select * from hoster where username=#{username} and password=#{password} and flag=2;

  </select>
</mapper>