<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ali.rent.dao.mapping.StandardMapper" >
  <resultMap id="BaseResultMap" type="com.ali.rent.pojo.Standard" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="s_id" property="sId" jdbcType="INTEGER" />
    <result column="temperature" property="temperature" jdbcType="INTEGER" />
    <result column="heart_rate" property="heartRate" jdbcType="INTEGER" />
    <result column="exercise" property="exercise" jdbcType="BIGINT" />
    <result column="calorie" property="calorie" jdbcType="BIGINT" />
    <result column="standard" property="standard" jdbcType="VARCHAR" />
    <result column="p_id" property="pId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    s_id, temperature, heart_rate, exercise, calorie, standard, p_id
  </sql>
</mapper>