<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Selio - Real Estate HTML Template</title>


    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="shortcut icon" href="../../static/assets/images/favicon.png"/>
    <link rel="stylesheet" href="../../static/assets/css/animate.min.css"/>
    <link rel="stylesheet" href="../../static/assets/js/lib/slick/slick.css"/>
    <link rel="stylesheet" href="../../static/assets/js/lib/slick/slick-theme.css"/>
    <link rel="stylesheet" href="../../static/assets/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/assets/css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/assets/css/color.css"/>

    <script src="../../static/js/jquery-3.3.1.min.js"></script>

    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>

    <script type="text/javascript">

        // var code;
        // function toCode() {
        //     alert("ssssss")
        //     // $.trim  去除输入框的两边空格
        //     var email;
        //     email=$.trim($("#email").val());
        //     if(email!=null){
        //         if (email!=''){
        //             $.ajax({
        //                 //这里的url对应的是 userController 里的 checkEmail方法
        //                 url:"/checkEmail",
        //                 //类型
        //                 type:"POST",
        //                 //传输数据，返回email
        //                 data:{
        //                     email:function () {
        //                         return email;
        //                     }
        //                 },
        //                 success:function (response) {
        //                     window.confirm("注册验证码已经发送到您的邮箱，请查收，请勿重复提交!!")
        //                     code=response;
        //                 }
        //             })
        //         }
        //     }else {
        //         alert("请先输入邮箱地址")
        //     }
        // }


        $.validator.setDefaults({
            submitHandler: function() {
                alert("提交事件!");
            }
        });

        $().ready(function() {
            alert("校验")
            //校验 form表单   对表单中的各个文本框进行验证
            $("#register").validate({
                rules:{
                    username:{
                        //这里表示 必须输入字段
                        required:true,
                        //输入的长度最少为6个字符串
                        minlength:6,
                        //输入的长度最多为15个字符串
                        maxlength:15,
                        //使用 ajax 方法调用 check.php 验证输入值
                        remote:{
                            url:"checkUserName",
                            type:"POST",
                            data:{
                                username:function () {
                                    var username=$("#username").val();
                                    return username;
                                }
                            },
                        }

                    },
                    password:{
                        //这里表示 必须输入字段
                        required:true,
                        //输入的长度最少为6个字符串
                        minlength:8,
                        //输入的长度最多为15个字符串
                        maxlength:20

                    },
                    phone:{
                        //	必须输入整数
                        digits:true,

                        required:true,

                        //输入长度必须介于 11 和 11之间的字符串（汉字算一个字符）
                        rangelength:[11,11]
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    checkcode: {
                        digits: true,
                        required: true,
                        rangelength: [4, 4]
                    },
                    sex: {
                        required: true
                    }

                },
                message:{
                    username: {
                        required: "请输入用户名",
                        minlength: "至少输入{0}个字符",
                        maxlength: "最多输入20个字符",
                        remote: "用户名相同"
                    },
                    password: {
                        required: "请输入密码",
                        minlength: "至少输入{0}个字符",
                        maxlength: "最多输入{0}个字符"
                    },
                    phone: {
                        required: "电话号码不能为空",
                        digits: "请输入数字",
                        rangelength: "电话号码为11位数字"
                    },
                    email: {
                        required: "请输入邮箱",
                        email: "请输入正确的邮箱格式"
                    },
                    checkcode: {
                        required: "请输入验证码",
                        digits: "请输入数字",
                        rangelength: "请输入四位数"
                    },
                    sex: {
                        required: "请选择性别"
                    }
                }
            })
        }

        /*$("#checkcode").blur(function () {
            var checkcode = $.trim($("#checkcode").val());
            if (code != checkcode) {
                alert("验证码错误")
            }
        })*/

        /*var check = function () {
            alert("asd");
            debugger;
            var flag = true;
            //通过 对注册表单value值的获取，进行校验表单是否填写完整
            var flags = false;
            var username1 = $.trim($("#username").val());
            alert(username1);
            if ($("#register").valid()) {
                alert("srfe")
                if (flag){
                    // 1.获取用户输入
                    username = $.trim($("#username").val());
                    var password = $.trim($("#password").val());
                    var phone = $.trim($("#phone").val());
                    var email = $.trim($("#email").val());
                    var sex = $("#sex option:selected").val();

                    var b = window.confirm("恭喜您注册成功,是否立即登录");
                    flags = true;
                    if(b){
                        window.location.href = "02_Home"
                    }
                    $.ajax({
                        async:false,
                        type: "POST",
                        url: "register",
                        dataType: "JSON",
                        contentType: "application/json",
                        data: JSON.stringify({
                            "username":username,
                            "password":password,
                            "phone":phone,
                            "email":email,
                            "sex":sex
                        }),
                        success: function (response) {
                            console.log(response)
                            if (response >= 1) {
                                window.location.href = "02_Home                                   ";
                            }
                        },
                        error: function (response) {
                            console.error();
                        }
                    })
                    return true;
                }
            } else {
                alert("请将信息填写完整")
                return false;
            }
        }*/




        //登录校验
        $(function () {
            $("input:eq(0)").blur(function () {
                if($.trim($(this).val()) == ""){
                    $("span:eq(5)").text("用户名不能为空");
                }else{
                    $("span:eq(5)").text("");
                }
            });
        })

    </script>

</head>

<body>



<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<div class="wrapper">

    <header class="pb">

        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="01_Home.html">
                                <img src="../../static/assets/images/logo2.png" alt=""/>
                            </a>
                            <button class="menu-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
                                <span class="icon-spar"></span>
                                <span class="icon-spar"></span>
                                <span class="icon-spar"></span>
                            </button>

                            <div class="navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item dropdown active">
                                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                            房屋
                                        </a>
                                        <div class="dropdown-menu animated">
                                            <a class="dropdown-item" href="01_Home.html">White Menu with Center Search</a>
                                            <a class="dropdown-item active" href="02_Home.html">Image Menu with Center Search 2</a>
                                            <a class="dropdown-item" href="03_Home.html">Map with Center Search</a>
                                            <a class="dropdown-item" href="04_Home.html">Geo SVG Map</a>
                                            <a class="dropdown-item" href="05_Home.html">Slider Header</a>
                                            <a class="dropdown-item" href="06_Home.html">Image Header with Description</a>
                                            <a class="dropdown-item" href="07_Home_Categories_and_Advanced_Search.html">More Search Features</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                            特征
                                        </a>
                                        <div class="dropdown-menu animated">
                                            <a class="dropdown-item" href="17_Features_Example_Alt_Titlebar.html">Features Example</a>
                                            <a class="dropdown-item" href="18_Half_Map.html">Half Map</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                            清单
                                        </a>
                                        <div class="dropdown-menu animated">
                                            <a class="dropdown-item" href="21_List_Layout_With_Map.html">List Layout with Map</a>
                                            <a class="dropdown-item" href="22_List_Layout_With_Sidebar.html">List Layout with Sidebar</a>
                                            <a class="dropdown-item" href="11_Agent_Profile.html">Agent Profile</a>
                                            <a class="dropdown-item" href="24_Property_Single.html">Property Single</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown">
                                            网页
                                        </a>
                                        <div class="dropdown-menu animated">
                                            <a class="dropdown-item" href="12_Blog_Grid.html">Blog Grid</a>
                                            <a class="dropdown-item" href="13_Blog_Standart.html">Blog Standard</a>
                                            <a class="dropdown-item" href="14_Blog_Open.html">Blog Open</a>
                                            <a class="dropdown-item" href="10_About.html">About</a>
                                            <a class="dropdown-item" href="15_Contact.html">Contact</a>
                                            <a class="dropdown-item" href="09_404.html">404</a>
                                        </div>
                                    </li>
                                </ul>
                                <div class="d-inline my-2 my-lg-0">
                                    <ul class="navbar-nav">
                                        <li class="nav-item signin-btn">
                                            <a href="#" class="nav-link">
                                                <i class="la la-sign-in"></i>
                                                <span><b class="signin-op">登录</b> 或 <b class="reg-op">注册</b></span>
                                            </a>

                                        </li>
                                        <li class="nav-item submit-btn">
                                            <a href="#" class="my-2 my-sm-0 nav-link sbmt-btn">
                                                <i class="icon-plus"></i>
                                                <span>发布房源</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <a href="#" title="" class="close-menu"><i class="la la-close"></i></a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </header><!--header end-->

    <div class="popup" id="sign-popup">
        <h3>登录</h3>
        <div class="popup-form">
            <form  action="/checkLogin" id="toLogin" method="GET">
                <div class="form-field">
                    <input type="text" name="username" id="name" placeholder="用户名"/><span></span>
                </div>
                <div class="form-field">
                    <input type="text" name="password" id="pwd"  placeholder="密码"/>
                </div>
                <div class="form-cp">
                    <div class="form-field">
                        <div class="input-field">
                            <input type="checkbox" name="ccc" id="cc1"/>
                            <label for="cc1">
                                <span></span>
                                <small>记住密码</small>
                            </label>
                        </div>
                    </div>
                    <a href="#" title="">忘记密码？</a>
                </div><!--form-cp end-->
                <button type="submit" class="btn2">确定</button>
            </form>
            <a href="#" title="" class="fb-btn"> <i class="fa fa-facebook"></i>通过Facebook登录</a>
        </div>
    </div><!--popup end-->

    <div class="popup" id="register-popup">
        <h3>注册</h3>
        <div class="popup-form">
            <form id="register" action="" method="post" onsubmit="return check()"> <!--onsubmit="return check()"-->>
                <div class="form-field">
                    <input type="text" name="username" id="username"  placeholder="用户名"/>
                </div>
                <div class="form-field">
                    <input type="password" name="password" id="password" placeholder="密码"/>
                </div>
                <div class="form-field">
                    <input type="text" name="phone" id="phone" placeholder="手机号码"/>
                </div>
                <div class="form-field">
                    <input type="text" name="email" id="email"  placeholder="邮箱"/>
                </div>

                <!--<div class="form-field">-->
                    <!--<input type="button" onclick="toCode()" name="button" value="获取验证码" class="input-signtype"-->
                           <!--style="background-color:#55AA00"/>-->
                <!--</div>-->
                <!--<div class="form-field">-->
                    <!--<input class="input-signtype" type="text" id="checkcode" name="checkcode" required=""-->
                           <!--placeholder="验证码"/>-->
                <!--</div>-->

                <div class="form-field">
                    <select name="sex" id="sex" class="form-field" required="required">
                        <option disabled="disabled" selected="selected"><font
                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            性别
                        </font></font></option>
                        <option value="男"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">男</font></font></option>
                        <option value="女"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">女</font></font></option>

                    </select>

                </div>

                <div class="form-cp">
                    <div class="form-field">
                        <div class="input-field">
                            <a href="hosterRegister.html" title="" class="signin-op">成为房东?点这里注册房东</a>
                        </div>
                    </div>
                    <a href="#" title="" class="signin-op">已有账号，去登录</a>
                </div><!--form-cp end-->
                <input type="submit" class="btn2" value="提交"/>
            </form>
        </div>
    </div><!--popup end-->

    <section class="banner hp2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-content">
                        <h1>发现最美好的地方</h1>
                    </div>
                    <form action="#" class="row banner-search">
                        <div class="form_field addres">
                            <input type="text" class="form-control" placeholder="Enter Address, City or State"/>
                        </div>
                        <div class="form_field tpmax">
                            <div class="form-group">
                                <div class="drop-menu">
                                    <div class="select">
                                        <span>Any type</span>
                                        <i class="fa fa-angle-down"></i>
                                    </div>
                                    <input type="hidden" name="gender"/>
                                    <ul class="dropeddown">
                                        <li>For Sale</li>
                                        <li>For Rent</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form_field tpmax">
                            <div class="form-group">
                                <div class="drop-menu">
                                    <div class="select">
                                        <span>Min Price</span>
                                        <i class="fa fa-angle-down"></i>
                                    </div>
                                    <input type="hidden" name="gender"/>
                                    <ul class="dropeddown">
                                        <li>300$</li>
                                        <li>400$</li>
                                        <li>500$</li>
                                        <li>200$</li>
                                        <li>600$</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form_field tpmax">
                            <div class="form-group">
                                <div class="drop-menu">
                                    <div class="select">
                                        <span>Max Price</span>
                                        <i class="fa fa-angle-down"></i>
                                    </div>
                                    <input type="hidden" name="gender"/>
                                    <ul class="dropeddown">
                                        <li>2000</li>
                                        <li>3000</li>
                                        <li>4000</li>
                                        <li>5000</li>
                                        <li>6000</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form_field srch-btn">
                            <a href="#" class="btn btn-outline-primary ">
                                <i class="la la-search"></i>
                                <span>Search</span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="popular-listing hp2 section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="section-heading">
                        <span>发现</span>
                        <h3>最受欢迎的房屋</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <a href="24_Property_Single.html" title="">
                            <div class="img-block">
                                <div class="overlay"></div>
                                <img src="../../static/assets/images/listing/1.jpg" alt="" class="img-fluid"/>
                                <div class="rate-info">
                                    <h5>$550.000</h5>
                                    <span>For Rent</span>
                                </div>
                            </div>
                        </a>
                        <div class="card-body">
                            <a href="24_Property_Single.html" title="">
                                <h3>传统公寓</h3>
                                <p><i class="la la-map-marker"></i>212 5th Ave, New York</p>
                            </a>
                            <ul>
                                <li>3 Bathrooms</li>
                                <li>2 Beds</li>
                                <li>Area 555 Sq Ft</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="pull-left">
                                <i class="la la-heart-o"></i>
                            </a>
                            <a href="#" class="pull-right">
                                <i class="la la-calendar-check-o"></i> 25 Days Ago</a>
                        </div>
                        <a href="24_Property_Single.html" title="" class="ext-link"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <a href="24_Property_Single.html" title="">
                            <div class="img-block">
                                <div class="overlay"></div>
                                <img src="../../static/assets/images/listing/2.jpg" alt="" class="img-fluid"/>
                                <div class="rate-info">
                                    <h5>$550.000</h5>
                                    <span>For Rent</span>
                                </div>
                            </div>
                        </a>
                        <div class="card-body">
                            <a href="24_Property_Single.html" title="">
                                <h3>传统公寓</h3>
                                <p><i class="la la-map-marker"></i>212 5th Ave, New York</p>
                            </a>
                            <ul>
                                <li>3 Bathrooms</li>
                                <li>2 Beds</li>
                                <li>Area 555 Sq Ft</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="pull-left">
                                <i class="la la-heart-o"></i>
                            </a>
                            <a href="#" class="pull-right">
                                <i class="la la-calendar-check-o"></i> 25 Days Ago</a>
                        </div>
                        <a href="24_Property_Single.html" title="" class="ext-link"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <a href="24_Property_Single.html" title="">
                            <div class="img-block">
                                <div class="overlay"></div>
                                <img src="../../static/assets/images/listing/3.jpg" alt="" class="img-fluid"/>
                                <div class="rate-info">
                                    <h5>$550.000</h5>
                                    <span>For Rent</span>
                                </div>
                            </div>
                        </a>
                        <div class="card-body">
                            <a href="24_Property_Single.html" title="">
                                <h3>传统公寓</h3>
                                <p> <i class="la la-map-marker"></i>212 5th Ave, New York</p>
                            </a>
                            <ul>
                                <li>3 Bathrooms</li>
                                <li>2 Beds</li>
                                <li>Area 555 Sq Ft</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="pull-left">
                                <i class="la la-heart-o"></i>
                            </a>
                            <a href="#" class="pull-right">
                                <i class="la la-calendar-check-o"></i> 25 Days Ago</a>
                        </div>
                        <a href="24_Property_Single.html" title="" class="ext-link"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <a href="24_Property_Single.html" title="">
                            <div class="img-block">
                                <div class="overlay"></div>
                                <img src="../../static/assets/images/listing/4.jpg" alt="" class="img-fluid"/>
                                <div class="rate-info">
                                    <h5>$550.000</h5>
                                    <span>For Rent</span>
                                </div>
                            </div>
                        </a>
                        <div class="card-body">
                            <a href="24_Property_Single.html" title="">
                                <h3>传统公寓</h3>
                                <p><i class="la la-map-marker"></i>212 5th Ave, New York</p>
                            </a>
                            <ul>
                                <li>3 Bathrooms</li>
                                <li>2 Beds</li>
                                <li>Area 555 Sq Ft</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="pull-left">
                                <i class="la la-heart-o"></i>
                            </a>
                            <a href="#" class="pull-right">
                                <i class="la la-calendar-check-o"></i> 25 Days Ago</a>
                        </div>
                        <a href="24_Property_Single.html" title="" class="ext-link"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <a href="24_Property_Single.html" title="">
                            <div class="img-block">
                                <div class="overlay"></div>
                                <img src="../../static/assets/images/listing/5.jpg" alt="" class="img-fluid"/>
                                <div class="rate-info">
                                    <h5>$550.000</h5>
                                    <span>For Rent</span>
                                </div>
                            </div>
                        </a>
                        <div class="card-body">
                            <a href="24_Property_Single.html" title="">
                                <h3>传统公寓</h3>
                                <p><i class="la la-map-marker"></i>212 5th Ave, New York</p>
                            </a>
                            <ul>
                                <li>3 Bathrooms</li>
                                <li>2 Beds</li>
                                <li>Area 555 Sq Ft</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="pull-left">
                                <i class="la la-heart-o"></i>
                            </a>
                            <a href="#" class="pull-right">
                                <i class="la la-calendar-check-o"></i> 25 Days Ago</a>
                        </div>
                        <a href="24_Property_Single.html" title="" class="ext-link"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <a href="24_Property_Single.html" title="">
                            <div class="img-block">
                                <div class="overlay"></div>
                                <img src="../../static/assets/images/listing/6.jpg" alt="" class="img-fluid"/>
                                <div class="rate-info">
                                    <h5>$550.000</h5>
                                    <span>For Rent</span>
                                </div>
                            </div>
                        </a>
                        <div class="card-body">
                            <a href="24_Property_Single.html" title="">
                                <h3>传统公寓</h3>
                                <p><i class="la la-map-marker"></i>212 5th Ave, New York</p>
                            </a>
                            <ul>
                                <li>3 Bathrooms</li>
                                <li>2 Beds</li>
                                <li>Area 555 Sq Ft</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="pull-left">
                                <i class="la la-heart-o"></i>
                            </a>
                            <a href="#" class="pull-right">
                                <i class="la la-calendar-check-o"></i> 25 Days Ago</a>
                        </div>
                        <a href="24_Property_Single.html" title="" class="ext-link"></a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="load-more-posts">
                        <a href="#" title="" class="btn2">加载更多</a>
                    </div><!--load-more end-->
                </div>
            </div>
        </div>
    </section>

    <section class="apartment-sec section-padding">
        <div class="container">
            <div class="card">
                <a href="24_Property_Single.html" title="">
                    <div class="img-block">
                        <div class="overlay"></div>
                        <img src="../../static/assets/images/resources/apart-img.jpg" alt="" class="img-fluid"/>
                    </div>
                </a>
                <div class="card_bod_full">
                    <div class="card-body">
                        <a href="24_Property_Single.html" title="">
                            <h3>传统公寓</h3>
                            <p> <i class="la la-map-marker"></i>212 5th Ave, New York</p>
                        </a>
                        <div class="rate-info">
                            <span>For Rent</span>
                            <h5>$550.000</h5>
                        </div>
                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulpu tate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincid-unt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per.</p>
                        <ul>
                            <li>3 Bathrooms</li>
                            <li>2 Beds</li>
                            <li>Area 555 Sq Ft</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="crd-links">
                            <a href="#" class="pull-left">
                                <i class="la la-heart-o"></i>
                            </a>
                            <a href="#" class="plf">
                                <i class="la la-calendar-check-o"></i> 25 Days Ago
                            </a>
                        </div><!--crd-links end-->
                    </div>
                </div><!--card_bod_full end-->
                <a href="24_Property_Single.html" title="" class="ext-link"></a>
            </div>
        </div>
    </section><!--apartment-sec end-->

    <div class="alert alert-success" role="alert">
        <strong>Added to Favourites</strong> You can check your favourite items here <a href="#" class="alert-link">Favourite Items</a>.
        <a href="#" title="" class="close-alert"><i class="la la-close"></i></a>
    </div>

    <section class="explore-feature section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="section-heading">
                        <span>探索功能</span>
                        <h3>你可能需要的服务</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
                    <a href="#" title="">
                        <div class="card">
                            <div class="card-body">
                                <i class="icon-home"></i>
                                <h3>完美工具</h3>
                                <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit conseat ipsum, nec sagittis sem nibh.</p>
                            </div>
                        </div><!--card end-->
                    </a>
                </div>
                <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
                    <a href="#" title="">
                        <div class="card">
                            <div class="card-body">
                                <i class="icon-cursor"></i>
                                <h3>在Click中搜索</h3>
                                <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit conseat ipsum, nec sagittis sem nibh.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
                    <a href="#" title="">
                        <div class="card">
                            <div class="card-body">
                                <i class="icon-lock"></i>
                                <h3>用户控制</h3>
                                <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit conseat ipsum, nec sagittis sem nibh.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-grid hp2 hp_s1 section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="section-heading">
                        <span>我们的博客</span>
                        <h3>最新帖子</h3>
                    </div>
                </div>
            </div>
            <div class="blog-grid-posts mg">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog-single-post">
                            <div class="blog-img">
                                <a href="14_Blog_Open.html" title="">
                                    <img src="../../static/assets/images/resources/post-img1.jpg" alt=""/>
                                </a>
                                <div class="view-post">
                                    <a href="14_Blog_Open.html" title="" class="view-posts">View Post</a>
                                </div>
                            </div><!--blog-img end-->
                            <div class="post_info">
                                <ul class="post-nfo">
                                    <li><i class="la la-calendar"></i>April 25, 2018</li>
                                </ul>
                                <h3><a href="14_Blog_Open.html" title="">海景房</a></h3>
                                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit vamec.</p>
                                <a href="14_Blog_Open.html" title="">更多阅读 <i class="la la-long-arrow-right"></i></a>
                            </div>
                            <a href="14_Blog_Open.html" title="" class="ext-link"></a>
                        </div><!--blog-single-post end-->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog-single-post">
                            <div class="blog-img">
                                <a href="14_Blog_Open.html" title="">
                                    <img src="../../static/assets/images/resources/post-img2.jpg" alt=""/>
                                </a>
                                <div class="view-post">
                                    <a href="14_Blog_Open.html" title="" class="view-posts">View Post</a>
                                </div>
                            </div><!--blog-img end-->
                            <div class="post_info">
                                <ul class="post-nfo">
                                    <li><i class="la la-calendar"></i>April 25, 2018</li>
                                </ul>
                                <h3><a href="14_Blog_Open.html" title="">海景房</a></h3>
                                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit vamec.</p>
                                <a href="14_Blog_Open.html" title="">更多阅读 <i class="la la-long-arrow-right"></i></a>
                            </div>
                            <a href="14_Blog_Open.html" title="" class="ext-link"></a>
                        </div><!--blog-single-post end-->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="blog-single-post">
                            <div class="blog-img">
                                <a href="14_Blog_Open.html" title="">
                                    <img src="../../static/assets/images/resources/post-img3.jpg" alt=""/>
                                </a>
                                <div class="view-post">
                                    <a href="14_Blog_Open.html" title="" class="view-posts">View Post</a>
                                </div>
                            </div><!--blog-img end-->
                            <div class="post_info">
                                <ul class="post-nfo">
                                    <li><i class="la la-calendar"></i>April 25, 2018</li>
                                </ul>
                                <h3><a href="14_Blog_Open.html" title="">海景房</a></h3>
                                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit vamec.</p>
                                <a href="14_Blog_Open.html" title="">更多阅读 <i class="la la-long-arrow-right"></i></a>
                            </div>
                            <a href="14_Blog_Open.html" title="" class="ext-link"></a>
                        </div><!--blog-single-post end-->
                    </div>
                </div>
            </div><!--blog-grid-posts end-->
        </div>
    </section>

    <section class="testimonial-sec section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="section-heading">
                        <span>客户心声</span>
                        <h3>感言</h3>
                    </div>
                </div>
            </div>
            <div class="testimonail-sect">
                <div class="comment-carousel">
                    <div class="comment-info">
                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elitco nsequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accum sanpsum velit. Nam nec tellus a odio tinci.</p>
                        <div class="cm-info-sec">
                            <div class="cm-img">
                                <img src="../../static/assets/images/resources/cm-img3.png" alt=""/>
                            </div><!--author-img end-->
                            <div class="cm-info">
                                <h3>Kritsofer Nolan</h3>
                                <h4>Property Owner</h4>
                            </div>
                        </div><!--cm-info-sec end-->
                    </div><!--comment-info end-->
                    <div class="comment-info">
                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elitco nsequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accum sanpsum velit. Nam nec tellus a odio tinci.</p>
                        <div class="cm-info-sec">
                            <div class="cm-img">
                                <img src="../../static/assets/images/resources/cm-img2.png" alt=""/>
                            </div><!--author-img end-->
                            <div class="cm-info">
                                <h3>Kritsofer Nolan</h3>
                                <h4>Property Owner</h4>
                            </div>
                        </div><!--cm-info-sec end-->
                    </div><!--comment-info end-->
                    <div class="comment-info">
                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elitco nsequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accum sanpsum velit. Nam nec tellus a odio tinci.</p>
                        <div class="cm-info-sec">
                            <div class="cm-img">
                                <img src="../../static/assets/images/resources/cm-img3.png" alt=""/>
                            </div><!--author-img end-->
                            <div class="cm-info">
                                <h3>Kritsofer Nolan</h3>
                                <h4>Property Owner</h4>
                            </div>
                        </div><!--cm-info-sec end-->
                    </div><!--comment-info end-->
                    <div class="comment-info">
                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elitco nsequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accum sanpsum velit. Nam nec tellus a odio tinci.</p>
                        <div class="cm-info-sec">
                            <div class="cm-img">
                                <img src="../../static/assets/images/resources/cm-img2.png" alt=""/>
                            </div><!--author-img end-->
                            <div class="cm-info">
                                <h3>Kritsofer Nolan</h3>
                                <h4>Property Owner</h4>
                            </div>
                        </div><!--cm-info-sec end-->
                    </div><!--comment-info end-->
                    <div class="comment-info">
                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elitco nsequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accum sanpsum velit. Nam nec tellus a odio tinci.</p>
                        <div class="cm-info-sec">
                            <div class="cm-img">
                                <img src="../../static/assets/images/resources/cm-img3.png" alt=""/>
                            </div><!--author-img end-->
                            <div class="cm-info">
                                <h3>Kritsofer Nolan</h3>
                                <h4>Property Owner</h4>
                            </div>
                        </div><!--cm-info-sec end-->
                    </div><!--comment-info end-->
                    <div class="comment-info">
                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elitco nsequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accum sanpsum velit. Nam nec tellus a odio tinci.</p>
                        <div class="cm-info-sec">
                            <div class="cm-img">
                                <img src="../../static/assets/images/resources/cm-img2.png" alt=""/>
                            </div><!--author-img end-->
                            <div class="cm-info">
                                <h3>Kritsofer Nolan</h3>
                                <h4>Property Owner</h4>
                            </div>
                        </div><!--cm-info-sec end-->
                    </div><!--comment-info end-->
                </div><!--comment-carousel end-->
            </div><!--testimonail-sect end-->
        </div>
    </section>

    <a href="#" title="">
        <section class="cta section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="cta-text">
                            <h2>发现一个你会喜欢的家</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </a>

    <section class="bottom section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-sm-6 col-md-4">
                    <div class="bottom-logo">
                        <img src="../../static/assets/images/logo.png" alt="" class="img-fluid"/>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-md-3">
                    <div class="bottom-list">
                        <h3>有用的网址</h3>
                        <ul>
                            <li>
                                <a href="18_Half_Map.html" title="">Half Map</a>
                            </li>
                            <li>
                                <a href="#" title="">Register</a>
                            </li>
                            <li>
                                <a href="#" title="">Pricing</a>
                            </li>
                            <li>
                                <a href="#" title="">Add Listing</a>
                            </li>
                        </ul>
                    </div><!--bottom-list end-->
                </div>
                <div class="col-xl-5 col-sm-12 col-md-5 pl-0">
                    <div class="bottom-desc">
                        <h3>附加信息</h3>
                        <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="footer-content">
                        <div class="row justify-content-between">
                            <div class="col-xl-6 col-md-6">
                                <div class="copyright">
                                    <p>&copy; Selio theme made in EU. All Rights <a href="http://www.bootstrapmb.com/">Reserved</a>.</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="footer-social">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!--footer end-->


</div><!--wrapper end-->






<script src="../../static/assets/js/jquery-3.3.1.min.js"></script>
<script src="../../static/assets/js/modernizr-3.6.0.min.js"></script>
<script src="../../static/assets/js/bootstrap.min.js"></script>
<script src="../../static/assets/js/lib/slick/slick.js"></script>
<script src="../../static/assets/js/scripts.js"></script>

<!-- Maps -->
<script src="http://ditu.google.cn/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="../../static/assets/js/map-cluster/infobox.min.js"></script>
<script src="../../static/assets/js/map-cluster/markerclusterer.js"></script>
<script src="../../static/assets/js/map-cluster/maps.js"></script>

<!--bzd-->


    </body>




</html>
